Flask
Flask-Session
Werkzeug
psutil
gunicorn
protobuf
pyTelegramBotAPI
python-telegram-bot
pycryptodome
requests
fastapi
uvicorn
pytz
PyJWT
beautifulsoup4
selenium
numpy
pandas
matplotlib
openpyxl
Flask[async]
aiohttp
googleapis-common-protos
